[submodule "External/octokit.objc"]
	path = External/octokit.objc
	url = https://github.com/joshaber/octokit.objc.git
[submodule "External/Freezer"]
	path = External/Freezer
	url = https://github.com/joshaber/Freezer.git
[submodule "External/FXKeychain"]
	path = External/FXKeychain
	url = https://github.com/nicklockwood/FXKeychain.git
